*{
    margin: 0; padding: 0;
}

body {
    background-image: url('../images/chemical.jpg'); background-repeat: no-repeat;background-size: 1650px; }



#divwrapper {width: 1000px;
margin: 20px auto;
    background-color: white
}

h1 {color:#bb267d;font-family: tahoma;}

h3{color:#00aeef;font-family:tahoma;}

#divheader {width: 1000px;
    text-align: center;


}


#divheader h1 {padding-top: 20px;
padding-bottom: 20px;}


#divLine {width: 1000px;
background-color:#bb267d;
height: 4px;}


#divLinks {width: 1000px;background-color: black;}

#divNav {width: 450px;background-color:black;height: 38px;margin: 0 auto;}

#divNav ul {list-style-type: none;}

#divNav ul li{float: left;margin-top: 7px; margin-right: 5px}

#divNav ul li a {display: block;
    height: 20px;
background-color:#bb267d;
width: 80px;
color:white;
text-align: center;
text-decoration: none;

border-radius: 10px;
border: solid 1px black;
font-family: tahoma;



}#divNav ul li a:hover {background-color:#5167f7 ;}
#for_form ul li {margin-left:35px;margin-right:10px;font-family:tahoma;font-size:16px;}
#for_places ul li {margin-left:55px;font-family:tahoma;font-size:16px;}
#for_doctor ul li {margin-left:30px;font-family:tahoma;font-size:16px;}
form {
     margin-left:480px;  }
#for_form2 ul li {margin-left:35px;text-align:left;font-family:tahoma;font-size:16px;
    }

#pic{width:30px;height:30px;float:left;}
/* marquee {padding: 4px; border: 2px solid #bb267d  ;
;font-size: 20px;color:#bb267d;width:990px;} */

.profile-info {width: 1000px;
margin: 20px auto; height: 670px ;background-color:white;}
div.patient{


	float:left;


}
.div1{border-bottom:2px solid #5167f7;
margin:15px;width:200px;}
	.div2{border-bottom:2px solid #5167f7;
	margin-left:90px;width:200px;margin-top:15px;}
	.div3{border-bottom:2px solid rgb(31, 48, 158);
	margin:20px;width:200px;}
	.div4{border-bottom:2px solid rgb(31, 48, 158);
	margin:20px;width:200px;margin-top:10px;}
.div5{border-bottom:2px solid rgb(31, 48, 158);
	margin:10px;width:200px;margin-top:0px;margin-left:10;}


div#p_info{float:left;background-color: white;width:300px;height: 560px;margin-left: 30px;
margin-top:30px;
border-left:   2px solid #bb267d;border-top:   2px solid #bb267d;}

#for_form{background: -webkit-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -o-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -moz-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52)) ;;width:235px;height:350px;box-shadow: 5px 7px 5px grey;
margin-left:20px;border-radius:30px;margin-top:20px;}

#for_form2{width:235px;height:450px;border-color:white;border-radius:30px;}

	 #p_name{color:#bb267d;}
	 #p_id{color:#bb267d;}
	 #d_birth{color:#bb267d;}
	 #p_gender{color:#bb267d;}
	 #in_company{color:#bb267d;}
	 #coupons_no{color:#bb267d;}




	 #m_number{color:#bb267d;}
	 #l_number{color:#bb267d;}
	 #e_address{color:#bb267d;}
	 #s_address{color:#bb267d;}
	 #locality{color:#bb267d;}
	 #c_address{color:#bb267d;}

div#medical_history{margin-right:10px;background-color: white;width:340px;height: 560px;
margin-top:30px;
border-right:   2px solid #bb267d;border-top:   2px solid #bb267d}
#m_h{background: -webkit-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -o-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -moz-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52)) ;margin-left:10px;box-shadow: 5px 7px 5px grey;width:290px;height:520px;border-radius:30px;margin-top:30px;}
div#p_history{ background: -webkit-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -o-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: -moz-linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52));
    background: linear-gradient(rgba(105, 170, 218, 0.29),rgba(237, 198, 221, 0.52)) ;width:245px;height: 460px;margin-top:100px;margin-left:35px;
border-radius:30px;box-shadow: 5px 7px 5px grey;
}

.m_his{font-family:tahoma;text-align:center;margin-top:15px;}

   .previous{font-family:tahoma;text-align:left; width:200px;height:30px;
   margin-left:30px;}
    .doctor{font-family:tahoma;text-align:left; width:200px;height:30px;
   margin-left:30px;margin-top:150px;}
ul.b {

	color:rgb(31, 48, 158);
	font-family: tahoma;
	float:left;


}
input[type=text]{
    width: 100%;
    height:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgb(31, 48, 160);
}
/* Start footer */
footer {background-color: black;
padding: 3px;
color: white;
text-align: center;
width:1000px;
margin: 20px auto;


}

.pic {width: 40px;padding: 15px;}
img{width:25px}
